doctype 5
html(lang="en")
	head
		meta(charset="utf-8")
		title= "Hello World"
		link(rel="stylesheet", href=stylesheetUrl)
		block head-scripts
		block stylesheets
		//if lt IE 8
			script(src="/javascripts/ie_shim.js")
	body
		block header
		block content
		block footer
		script(type="text/javascript", data-main="/javascripts/config", src=javascriptUrl)
		block body-scripts
