extends layouts/application

block head-scripts
	script(type="text/javascript")
		console.log("script in the header!");

block body-scripts
	script(type="text/javascript")
		console.log("script at end of body!");

		window.setTimeout(function() {
			window.location.pathname = "/posts";
		}, 5000);

block content
	h1 Hello World!

